---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.tsx";
import { signal } from "@preact/signals";

const password = signal("45ncsi9!@mkd$");
---

<Layout title="Generate Password">
  <main class="container bg-center bg-no-repeat bg-cover md:max-w-none text-center mt-16">
    <div class="flex flex-col items-center ">
		<div class="order-1 w-full">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        <span class="text-blue-600 dark:text-blue-500">Generate</span> Password
      </h1>
      <Counter password={password} client:visible>
        <h1>Hello, Preact 1!</h1>
      </Counter>
		</div>
    </div>
  </main>
</Layout>
